/* 
Colores principales sacados desde:
https://realtimecolors.com/
Sombras y luces desde:
https://maketintsandshades.com/
*/

/* Tags */
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    background-color: var(--background-contrast);
    background-image: linear-gradient(180deg,
        var(--background) 0%,
        rgba(var(--background-contrast-rgb), .3) 66%
        );
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text);
    transition: 0.3s;
}

h1,h2,h3,h4,h5, li, p, strong, hr{
    color: var(--text);
}
hr{
    border-color: var(--text);
}
a{
    color: var(--accent);
    transition: 0.3s;
}
a:hover{
    color: var(--accent-d3);
    text-decoration: underline;
    transition: 0.3s;
}
/* ./Tags */

/* Override */
.card{
    background-color: var(--background);
    background-image: linear-gradient(180deg,
        rgba(var(--background-contrast-rgb), .03) 0%,
        var(--background) 66%
    );
    border-radius: 0px;
    border: 1px solid rgba(var(--primary-rgb),.5);
    color: var(--text);
    /* box-shadow: 0 0 2px rgba(var(--primary-rgb), .6), 0 2px 3px rgba(var(--primary-rgb),.8); */
    box-shadow: 
        rgba(var(--primary-rgb), 0.6) 0px 2px 2px,
        rgba(var(--primary-rgb), 0.5) 0px 2px 2px -1px,
        rgba(var(--primary-rgb), 0.4) 0px -1px 0px 
    inset;
}

.btn-primary {
    color: var(--text);
    background-color: var(--primary);
    border-color: rgba(var(--primary-rgb), .5);
    
}

.btn-primary:hover {
    color: var(--text);
    background-color: var(--accent);
    border-color: rgba(var(--secondary-rgb),.5);
}

.nav-link {
    color: var(--accent);
}

.nav-link:focus, .nav-link:hover {
    color: var(--accent);
}

.nav-tabs{
    background-color: transparent;
}

.nav-tabs .nav-item .nav-link{
    background-color: rgba(var(--background-contrast-rgb),.8);
    border-color: rgba(var(--secondary-rgb),.5);
}

.nav-tabs .nav-item .nav-link:hover{
    background-color: rgba(var(--primary-rgb),.8);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: var(--background);
    color: var(--text);
    border-color: rgba(var(--primary-rgb),.8);
}

.nav-tabs .nav-link.disabled, .nav-tabs .nav-link:disabled{
    color: var(--primary);
}



.list-group-item {
    background-color: #ffffff00;
    color: var(--text);
}
/* ./Override */

/* Custom */

.skill-front{
    border-bottom: 1px solid #44f;
}
.skill-back{
    border-bottom: 1px solid #f44;
}
.skill-tech{
    border-bottom: 1px solid #393;
}

.post{
    color: var(--text);
}

.tarea-empleo{
    padding: 0;
    margin: 0 !important;
}

.username{
    color: var(--accent);
}

.description>span{
    color: var(--text);
}

/* ./Custom */


/* SPECIAL */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }
  
/* ./SPECIAL */